<router-outlet #Outlet="outlet"></router-outlet>
<div class="container-fluid" [hidden]="Outlet.isActivated" style="width:100%">
  <br>
  <div>
    <a class="btn btn-success" routerLink="/person/Add">Add New Person</a>
  </div><br>
  <div class="card">

    <div class="card-body">


      <table class="table table-striped">
        <thead>
          <tr>

            <th>
              Person Name
            </th>
            <th>
            Addresses
            </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let Person of Persons">
            <td>{{Person.Name}} {{Person.FamilyName}}</td>
            <td><span *ngFor="let Address of Person.Addresses;let i=index " class="h6">Address {{i+1}} : {{Address.DetailsOfAddress}}<br></span></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

